<%- include('../templates/admin/_header') %>

  <body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <%- include('../templates/admin/_sidebar') %>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

          <!-- Main Content -->
          <div id="content">

            <%- include('../templates/admin/_navbar') %>

            <% if(adminUser) { %>

              <!-- Begin Page Content -->
              <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                  <h1 class="h3 mb-0 text-gray-800">Dashboard | Blogs</h1>
                  <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" data-toggle="modal"
                    data-target="#addBlog"><i class="fas fa-plus fa-sm text-white-50"></i> New Blog!</a>
                </div>


                <!-- Content Row -->
                <div class="row">

                  <!-- Content Column -->
                  <div class="col-lg-12 mb-4">

                    <!-- Project Card Example -->
                    <div class="card shadow mb-4">
                      <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Blogs</h6>
                      </div>
                      <table class="table table-striped">
                        <thead>
                          <tr>
                            <th scope="col">#</th>
                            <th scope="col">Created Date</th>
                            <th scope="col">Blog Photo</th>
                            <th scope="col">Blog Title</th>
                            <th scope="col">Blog Category</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% for(let i = 0; i < blogs.length; i++) { %>
                            <tr>
                              <th scope="row"><%= blogs[i]._id %></th>
                              <td><%= blogs[i].createdDate.getDate() %>.<%= blogs[i].createdDate.getMonth() + 1 %>.<%= blogs[i].createdDate.getFullYear() %></td>
                              <td>
                                <img width="80px" src="<%= blogs[i].image %>" alt="">
                              </td>
                              <td><%= blogs[i].title %></td>
                              <td><%= blogs[i].category.name %></td>
                              <td>
                                <a class="btn btn-outline-warning" data-toggle="modal"
                                  data-target="#updateBlog<%= blogs[i]._id %>">
                                  <i class="bi bi-pen"></i>
                                </a>
                                <a href="/blogs/<%= blogs[i]._id %>?_method=DELETE"
                                  onclick="return confirm('Are you sure?')" class="btn btn-outline-danger">
                                  <i class="bi bi-trash3"></i>
                                </a>
                              </td>

                            </tr>
                            


                            <!-- UPDATE -->

                            <div class="modal fade" id="updateBlog<%= blogs[i]._id %>" tabindex="-1"
                              role="dialog" aria-labelledby="myModalLabel">
                              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                                <div class="modal-content">
                                  <div class="modal-body customer-box">
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                      <div class="tab-pane active" id="Login">

                                        <h2>Edit Blog | <%= blogs[i].title %>

                                          <form method="POST" action="/blogs/<%= blogs[i]._id %>?_method=PUT" class="form-horizontal" enctype="multipart/form-data">


                                            <div class="form-group">
                                              <div class="row">
                                                <div class="col-sm-12">
                                                  <input type="text" name="title" class="form-control" value="<%= blogs[i].title %>">
                                                </div>
                                              </div>
                                            </div>
                    
                                            <div class="form-group">
                    
                                              <div class="row">
                    
                                                <div class="col-sm-12">
                                                  <select class="form-control" name="category" id="">
                                                    <option value="<%= blogs[i].category._id %>"><%= blogs[i].category.name %></option>
                                                    <% for(let i = 0; i < categories.length; i++) { %>
                                                      <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
                                                      <% } %>
                                                    </select>
                                                </div>
                    
                                              </div>
                    
                                            </div>
                    
                                            <div class="form-group">
                                              <div class="row">
                                                <div class="col-sm-12">
                                                  <textarea type="text" name="description" class="form-control"><%= blogs[i].description %></textarea>
                                                </div>
                                              </div>
                                            </div>
                    
                    
                                            <div class="row">
                                              <div class="col-sm-12 text-right">
                                                <button type="submit" class="btn btn-outline-success rounded text-dark">
                                                  Edit Blog!
                                                </button>
                                                <button type="submit" class="btn btn-outline-danger rounded text-dark" data-dismiss="modal"
                                                  aria-hidden="true">
                                                  Cancel!
                                                </button>
                                              </div>
                                            </div>
                                          </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>

                            <!-- UPDATE END -->

                            <% } %>
                       

                        </tbody>
                      </table>
                    </div>

                  </div>




                </div>

              </div>
              <!-- /.container-fluid -->

          </div>
          <!-- End of Main Content -->


          <!-- ADD -->

          <div class="modal fade" id="addBlog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
              <div class="modal-content">
                <div class="modal-body customer-box">
                  <!-- Tab panes -->
                  <div class="tab-content">
                    <div class="tab-pane active" id="Login">
                      <h2 class="mb-3">New Blog!</h2>

                      <form method="POST" action="/blogs" class="form-horizontal" enctype="multipart/form-data">


                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <input type="text" name="title" class="form-control" placeholder="Blog Title">
                            </div>
                          </div>
                        </div>

                        <div class="form-group">

                          <div class="row">

                            <div class="col-sm-7">
                              <input type="file" name="image" class="form-control">
                            </div>

                            <div class="col-sm-5">
                              <select class="form-control" name="category" id="">
                                <% for(let i = 0; i < categories.length; i++) { %>
                                  <option value="<%= categories[i]._id %>"><%= categories[i].name %></option>
                                  <% } %>
                                </select>
                            </div>

                          </div>

                        </div>

                        <div class="form-group">
                          <div class="row">
                            <div class="col-sm-12">
                              <textarea type="text" name="description" class="form-control" placeholder="Blog Description"></textarea>
                            </div>
                          </div>
                        </div>


                        <div class="row">
                          <div class="col-sm-12 text-right">
                            <button type="submit" class="btn btn-outline-success rounded text-dark">
                              Add Blog!
                            </button>
                            <button type="submit" class="btn btn-outline-danger rounded text-dark" data-dismiss="modal"
                              aria-hidden="true">
                              Cancel!
                            </button>
                          </div>
                        </div>
                      </form>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- ADD END -->

          <% } %>

          <%- include('../templates/admin/_footer') %>


  </body>

  </html>